<!DOCTYPE html>
<html>
    <head>
        <title>JonasWallander</title>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Something went wrong!</h1>
        <p><%= error.message %></p>
    </body>
</html>
