html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Fira Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: rgba(242, 246, 208, 0.1);
  color: #385f71;
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #385f71;
}

.navigation-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.navigation-container__jw-logo {
  height: 5.25rem;
  width: 5.25rem;
}

.navigation-container__nav > a {
  margin-right: 12px;
}

.main-content-container {
  padding: 0 20px;
}

.main-content-container__blog {
  text-align: justify;
}

p > a, b > a {
  margin: 0 .25rem;
}

/* For desktop */
@media only screen and (min-width: 768px){
  .main-content-container__blog {
    width: 60%;
    margin: 0 auto;
  }

  .main-content-container__home {
    width: 60%;
    margin: 0 auto;
  }
}
