body {
  font-family: 'Fira Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: rgba(242, 246, 208, 0.1);
  color: rgba(0, 66, 255, 0.7);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #385f71;
  text-align: left;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

pre code {
  overflow: scroll;
}

.menu-content__logo {
  width: 84px;
  height: 84px;
}

.main-content {
  padding: 1rem;
}

.main-content__article {
  max-width: 42rem;
  text-align: justify;
}

.hljs {
  background: rgba(0, 36, 81, 0.9);
}
